.contact{
    margin: 80px auto;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-col{
    flex-basis: 40%;
}

.contact-col h2{
    color: #212ea0;
    font-weight: bold;
    font-size: 2opx;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.contact-col h2 img{
    width: 30px;
    margin-left: 10px;
}

.contact-col p{
    line-height: 1.5;
}

.contact-col ul li{
display: flex;
align-items: center;
margin: 14px 0;
}
.contact-col ul li img{
    width: 25px;
    margin-right: 8px ;
}

.btn{
    background-color: #212ea0;
    color: #fff;
    border-radius: 30px;
    border: 0 ;
    outline: 0;
    font-size: 16.5px;
    padding: 10px 15px;
}
.contact form input, .contact form textarea{
    display: block;
    width: 100%;
    background-color: #ebecfe;
    padding: 15px;
    border: 0;
    outline: 0;
    margin-bottom: 10px;
    margin-top: 2px;
    resize: none;


}

.contact-col span{
display: block;
margin: 20px 0;
}

.contact h2{
    font-size: 30px;
    font-weight: bold;
    color: #000f38;
    margin: 10px 0;
    text-align: center;
}

@media (max-width:800px) {
    
    .contact{
        display: block;
    
    }
    .contact-col{
        padding: 20px;
    }
}