.welfares{
    margin: 80px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}
.welfare-left{
    flex-basis: 40%;
}
.welfare-right{
    flex-basis: 55%;
}
.welfare-img{
    width: 100%;
    border-radius: 10px;

}
.welfares h2{
    font-size: 30px;
    font-weight: bold;
    color: #000f38;
    margin: 10px 0;
    text-align: center;
}
.new-members p{
    margin-bottom: 15px;
    margin-top: 20px;
    line-height: 1.5;
}

@media (max-width:800px) {
    
    .welfares{
        flex-direction: column;
    
    }
    .welfare-left{
        flex-basis: 100%;
        margin: 20px;
        order: 2;
    }
    .welfare-right{
        flex-basis: 100%;
    }
}