@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: f5f5f5;
}

 a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.container{
  padding-left: 15%;
  padding-right: 15%;
}
.btn{
    background-color: #fff;
    color: #000;
    border-radius: 30px;
    border: 0 ;
    outline: 0;
    font-size: 16.5px;
    padding: 10px 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1200px) {
  .container{
  padding-left: 5%;
  padding-right: 5%;
}
.btn{
  padding: 14px 22px;
}
}